<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="{% static "main/css/materialize.css" %}?{% now "U" %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" href="{% static "main/images/apple-touch-icon.png" %}">

    <script data-ad-client="ca-pub-2098313122022569" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    {% block extrahead %}
    {% endblock %}
</head>


<body>
  <header>
    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </main>

<!-- <br><br><br><br> -->
  <footer class="page-footer small">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Contact</h5>
          <div class="valign-wrapper">
            <i class='material-icons '>email</i> <strong><a href="mailto:info@hone-app.co.uk" class='white-text'>info@hone-app.co.uk</a></strong>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Hone
      </div>
    </div>
  </footer>
</body>

<script src="{% static 'tinymce/js/prism.js'%}"></script>
