{% extends 'main/header.html' %}
{% load static %}
{% load qr_code %}

{% block content %}
<div class="row">
  {% include 'main/left_bar.html'%}

  <div class="col s12 m6 l6 ">
    <br>
    <h5>Welcome back <strong>{{request.user}}</strong></h5>
    <div class="divider"></div>
    <h5>Next session</h5>
    {% if next_session is not None %}
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s1 push-s9 push-l10">
              <!-- Modal Trigger -->
              <button data-target="modal{{next_session.slug}}" class="btn modal-trigger">QR</button>
            </div>
            <div class="col s8 pull-s1">
              <div class="card-title"><strong>{{next_session.name}}</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col s10">

              Date: <strong>{{next_session.start_datetime}}</strong>
            </div>
          </div>
        </div>
        <div class="card-action">
            <a href="/sessions/{{next_session.slug}}/">View</a>
            <a href="/sessions/{{next_session.slug}}/edit/">Edit</a>
        </div>
      </div>
      {% endif %}
      {% if next_session is None %}
      No upcoming sessions :(
      {% endif %}
      <div class="divider"></div>
      {% if plot_data is not None %}
      <h5>Charts</h5>
        <ul class="collapsible expandable">

          {% for plot, title in plot_data %}
          <li>
            <div class="collapsible-header">{{title}}</div>
            <div class="collapsible-body">
              {% autoescape off %}
              {{ plot }}
              {% endautoescape %}
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>

    <!-- Modal Structure -->
    {% if next_session is not None %}
    <div id="modal{{next_session.slug}}" class="modal">
      <div class="modal-content">
        <p class="center-align"><img src="{% qr_url_from_text qr_url %}"></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    {% endif %}
</div>

  <div class="col l3 hide-on-small-only">
    <div class="outer" style="position:fixed">
      <div class="inner" style="position:absolute top">
        <img src='{% static 'main/images/example_ad.png' %}' width="80%"/>
      </div>
      <style media="screen">
      .inner {
        margin-left: 20px;
        width: 100%; /* Depending on the desired effect, width might be needed */
      }
      </style>
    </div>
  </div>

</div>

<div class="fixed-action-btn">
  <a href="{% url 'main:create_session' %}" class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems_fab = document.querySelectorAll('.fixed-action-btn');
    var instances_fab = M.FloatingActionButton.init(elems_fab, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems_modal = document.querySelectorAll('.modal');
    var instances_modal = M.Modal.init(elems_modal, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems_scrollspy = document.querySelectorAll('.scrollspy');
    var instances_scrollspy = M.ScrollSpy.init(elems_scrollspy, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems_collapsible = document.querySelectorAll('.collapsible.expandable');
    var instances_collapsible = M.Collapsible.init(elems_collapsible, {
      accordion: false
    });
  });

  var c_headers = document.querySelectorAll('div.collapsible-header');
  var plotIDs = {{plot_ids|safe}};

  for (var i = 0; i < c_headers.length; i++) {
      (function() {
        var plotID = String(plotIDs[i]);
        c_headers[i].addEventListener("click", function() {
          Plotly.Plots.resize(plotID);
        });
      }());
  };


</script>
{% endblock %}
