{% extends 'main/header.html' %}
{% load static %}
{% load qr_code %}

{% block content %}
<div class="row">
  {% include 'main/left_bar_students.html'%}

  <div class="col s12 m6 l6 ">
    <h5>{{session.name}}</h5>
    <p>Date: <strong>{{session.start_datetime}}</strong></p>
    <p>Tutor: <strong>{{session.tutor.first_name}} {{session.tutor.last_name}}</strong></p>
    <div class="divider"></div>

    <p><a href='{{dl_resources_url}}'><button class="btn">Download resources</button></a></p>
  </div>

  {% include 'main/right_bar_session.html' %}
</div>
{% endblock %}
