{% extends 'main/header.html' %}
{% load static %}
{% load qr_code %}
{% block extrahead %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  {% include 'main/left_bar.html'%}

  <div class="col s12 m6 l6 ">
    <h5>{{session.name}}</h5>
    Date: <strong>{{session.start_datetime}}</strong>
    <div class="divider"></div>

    <p><a href='{{resource_form_url}}'><button class="btn">Add resources</button></a></p>
    <!-- <p><a href='{{dl_resources_url}}'><button class="btn">Download resources</button></a></p> -->
    <p><a href='{{questionnaire_url}}'><button class="btn">View questionnaire</button></a></p>
    <p><input type="button" class='btn' value="Download responses" onclick="window.open('download_data')"></p>
    <div class="divider"></div>

    {% if plot_data is not None %}
    <h5>Charts</h5>
      <ul class="collapsible expandable">

        {% for plot, title in plot_data %}
        <li>
          <div class="collapsible-header">{{title}}</div>
          <div class="collapsible-body">
            {% autoescape off %}
            {{ plot }}
            {% endautoescape %}
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
      <div class="divider"></div>
      <h5>Free text responses</h5>
        <ul class="collapsible expandable">

          {% for texts, title in plain_text_data %}
          <li>
            <div class="collapsible-header">{{title}}</div>
            <div class="collapsible-body">
              {% for text in texts %}
                <div class="divider"></div>
                {{text}}
                <p></p>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>
  </div>

  {% include 'main/right_bar_session.html' %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems_collapsible = document.querySelectorAll('.collapsible.expandable');
    var instances_collapsible = M.Collapsible.init(elems_collapsible, {
      accordion: false
    });
  });

  var c_headers = document.querySelectorAll('div.collapsible-header');
  var plotIDs = {{plot_ids|safe}};

  for (var i = 0; i < c_headers.length; i++) {
      (function() {
        var plotID = String(plotIDs[i]);
        c_headers[i].addEventListener("click", function() {
          Plotly.Plots.resize(plotID);
        });
      }());
  };
</script>
{% endblock %}
