{% extends 'main/header.html' %}
{% load static %}
{% load qr_code %}

{% block content %}
<div class="row">
  {% include 'main/left_bar.html'%}

  <div class="col s12 m6 l6 ">
  {% for session, qr_url in zipped_data %}
    <div id="{{session.name}}" class="section scrollspy">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s1 push-s9 push-l10">
              <!-- Modal Trigger -->
              <button data-target="modal{{session.slug}}" class="btn modal-trigger">QR</button>
            </div>
            <div class="col s8 pull-s1">
              <div class="card-title"><strong>{{session.name}}</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col s10">

              Date: <strong>{{session.start_datetime}}</strong>
            </div>
          </div>
        </div>
        <div class="card-action">
            <a href="/sessions/{{session.slug}}/">View</a>
            <a href="/sessions/{{session.slug}}/edit/">Edit</a>
            <a href='' data-target="modal_delete{{session.slug}}" class='modal-trigger' style="">Delete</a>
        </div>
      </div>

    <!-- Modal Structure -->
    <div id="modal{{session.slug}}" class="modal">
      <div class="modal-content">
        <p class="center-align"><img src="{% qr_url_from_text qr_url %}"></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div id="modal_delete{{session.slug}}" class="modal">
      <div class="modal-content">
        <p class="center-align">Are you sure you want to delete this session?</p>
      </div>
      <div class="modal-footer">
        <a href="/sessions/{{session.slug}}/delete/" class="modal-close waves-effect waves-green btn-flat">Delete</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  <div class="col l3 hide-on-small-only">
      <div class="outer" style="position:fixed">
        {% include 'main/advert.html' %}
        <div class="inner" style="position:absolute">
          <ul class="section table-of-contents" >
            {% for session in sessions %}
              <li><a href="#{{session.name}}">{{session.name}}</a></li>
            {% endfor%}
          </ul>
        </div>
        <style media="screen">
        .inner {
          margin-left: 20px;
          width: 100%; /* Depending on the desired effect, width might be needed */
        }
        </style>
      </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a href="{% url 'main:create_session' %}" class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems_fab = document.querySelectorAll('.fixed-action-btn');
    var instances_fab = M.FloatingActionButton.init(elems_fab, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems_modal = document.querySelectorAll('.modal');
    var instances_modal = M.Modal.init(elems_modal, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems_scrollspy = document.querySelectorAll('.scrollspy');
    var instances_scrollspy = M.ScrollSpy.init(elems_scrollspy, {});
  });
</script>
{% endblock %}
