{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<div class="row">
  {% for session in sessions %}
    <div class="col s12 m6 l7">
      <div class="card hoverable">
        <div class="card-content">
          <div class="card-title"><strong>{{session.name}}</strong></div>
          <p>Date: {{session.start_datetime}}</p>
        </div>
        <div class="card-action">
            <a href="/sessions/{{session.slug}}/">View</a>
            <a href="/sessions/{{session.slug}}/edit/">Edit</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="fixed-action-btn">
  <a href="{% url 'main:create_session' %}" class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems_fab = document.querySelectorAll('.fixed-action-btn');
    var instances_fab = M.FloatingActionButton.init(elems_fab, {});
  });
</script>
{% endblock %}
