{% extends 'main/header.html' %}
{% load static %}
{% load qr_code %}

{% block content %}
<div class="row">
  {% include 'main/left_bar_students.html'%}

  <div class="col s12 m6 l6 ">
    <h5>{{session.name}}</h5>
    <p>Date: <strong>{{session.start_datetime}}</strong></p>
    <p>Tutor: <strong>{{session.tutor.first_name}} {{session.tutor.last_name}}</strong></p>
    <div class="divider"></div>

    <p><a href='{{dl_resources_url}}'><button class="btn">Download resources</button></a></p>
  </div>

  <div class="col l3 hide-on-small-only">
      <div class="outer" style="position:fixed">
        {% include 'main/advert.html' %}
        <div class="inner" style="position:absolute">
          <ul class="section table-of-contents" >
            {% for session in sessions %}
              <li><a href="#{{session.name}}">{{session.name}}</a></li>
            {% endfor%}
          </ul>
        </div>
        <style media="screen">
        .inner {
          margin-left: 20px;
          width: 100%; /* Depending on the desired effect, width might be needed */
        }
        </style>
      </div>
  </div>
</div>
{% endblock %}
